body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 18px;
}

.header {
    background-color: #222;
    padding: 20px 40px;
}

.header__link {
    color: white;
    font-size: 0.8rem;
}

.header__title {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 1.5rem;
}

.content {
    width: 95%;
    max-width: 900px;
    margin: 40px auto;
}

.breadcrumbs {
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    color: white;
}

.breadcrumbs__element {
    padding: 0;
    background-color: #0000;
    border: none;
    font-size: 16px;
    color: white;
}

.breadcrumbs__element--clickable {
    cursor: pointer;
    text-decoration: underline;
}

.breadcrumbs__separator {
    margin: 0 0.4rem;
}

.link, link:visited, link:active, link:hover {
    color: #0084fc;
}
