@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonAnimation {
    animation: button-appear 0.4s forwards;
}

.buttonAnimation:nth-child(2) {
    animation-delay: 0.08s;
}

.buttonAnimation:nth-child(3) {
    animation-delay: 0.16s;
}

.buttonAnimation:nth-child(4) {
    animation-delay: 0.24s;
}

@keyframes button-appear {
    0% {
        opacity: 0;
        top: 20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
